body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.skin-generator {
  text-align: center;
  padding: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.prompt-input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.generate-skin-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.skin-preview-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.skin-preview-container h2 {
  margin-bottom: 20px;
}

.image-box {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: none;
}

.apply-button,
.mint-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mint-button {
  background-color: #ffc107;
}

.next-arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.loader {
  margin-top: 20px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.visible {
  display: block;
}

.collection-card {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.collection-card:hover {
  transform: translateY(-5px);
}

.collection-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.collection-info {
  margin-bottom: 5px;
}

.view-rfts-button {
  margin-top: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.view-rfts-button:hover {
  background-color: #0056b3;
}

.view-rfts-button:active {
  background-color: #004494;
}
